<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Subilo</title>
</head>
<body>
    <main id="landing">
        <h1>Subilo</h1>
        <h2>Fast, Free and Secure File Storing</h2>
        <div class="landing-buttons">
            <a href="/register"><button>Register</button></a>
            <a href="/log-in"><button>Log In</button></a>
        </div>
    </main>
</body>
</html>